@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,400&display=swap');
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    font-family: "Roboto", "Arial", sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.container {
    margin: 0 auto;
    text-align: center;
    position: relative;
    /* background-color: chocolate; */
}

@media (min-width: 1920px) {
    .container {
        width: 1170px;
    }
    header {
        left: 375px;
    }
}

@media (min-width: 2560px) {
    .container {
        width: 2340px;
    }
    header {
        left: 505px;
    }
}

header {
    position: absolute;
    top: 135px;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.logo {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo span {
    font-size: 82px;
    line-height: 1.02;
    color: #efefef;
}

.navigation-bar {
    width: 540px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-bar p {
    font-size: 40px;
    font-weight: 100;
    font-style: italic;
    color: #c9ced7;
}

.navigation-item {
    font-size: 38px;
    color: #cad1db;
    /*====================*/
    padding: 26px 34px 25px;
    border-radius: 16.5px;
    background-color: #3d4b60;
}

.banner {
    background-color: #4e5d71;
    background-image: url("../images/banner/background.jpg");
}

.banner-items {
    display: flex;
    justify-content: space-between;
    padding-top: 453px;
    padding-bottom: 459px;
}

.banner-info {
    width: 1340px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
    align-items: left;
}

.banner-info h3 {
    font-size: 102px;
    color: #fff;
    margin-top: 0;
    margin-bottom: 110px;
}

.banner-info p {
    font-size: 52px;
    line-height: 1.62;
    color: #c5d2e5;
    margin-top: 0;
    margin-bottom: 125px;
}

.banner-image {
    width: 740px;
    display: flex;
    justify-content: center;
}

.banner-button {
    font-size: 72px;
    line-height: 1.17;
    color: #fff;
    /*===============*/
    width: 530px;
    height: 156px;
    /*===============*/
    border-radius: 15px;
    border: none;
    background-color: #67bf95;
    cursor: pointer;
}

.detail-of-registration {
    padding-top: 198px;
    padding-bottom: 271px;
}

.details-text {
    width: 1345px;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 105px;
    padding-right: 70px;
}

.details-text h2 {
    font-size: 80px;
    color: #37414e;
    margin-bottom: 65px;
}

.details-text p {
    width: 1161px;
    display: block;
    font-size: 40px;
    line-height: 2.1;
    color: #4b596c;
    margin: 0;
}

.registration-link {
    margin-bottom: 50px;
    margin-top: 50px;
    cursor: pointer;
}

.registration-link {
    border: 5px solid #67bf95;
    border-radius: 50%;
}

.registration-link:hover {
    background-color: #67bf95;
}

.registration-link:hover i {
    color: #fff;
}

.registration-link i {
    padding: 30px;
    font-size: 60px;
    color: #67bf95;
}

.details-items {
    display: flex;
    width: 2190px;
    justify-content: space-between;
}

.details-img {
    order: -1;
}

.registration-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.our-patterns {
    background-color: #52ad81;
}

.slogan {
    width: 1940px;
    padding-top: 226px;
    padding-bottom: 210px;
    padding-left: 875px;
    padding-right: 320px;
    text-align: left;
}

.slogan h3 {
    font-size: 112px;
    font-weight: 500;
    line-height: 0.58;
    color: #fff;
    margin-bottom: 46px;
}

.slogan p {
    font-size: 60px;
    font-weight: 100;
    line-height: 1.08;
    color: #fff;
    margin: 0;
}

.swiper-button-prev {
    left: 300px;
}

.swiper-button-next {
    right: 300px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    padding: 27px 36px 26px 36px;
    color: rgba(255, 255, 255, 0.56);
    border: 3px solid rgba(255, 255, 255, 0.56);
    border-radius: 50%;
}

.swiper-button-prev:hover::after,
.swiper-button-next:hover::after {
    background-color: #5dba8d;
}

.rates-head {
    width: 2065px;
    margin: 0 auto;
}

.rates-head h3 {
    font-size: 86px;
    font-weight: 500;
    line-height: 0.76;
    color: #37414e;
    margin: 0 0 0 0;
}

.rates-head p {
    display: block;
    padding: 0 227px;
    font-size: 44px;
    line-height: 1.93;
    color: #858b93;
    margin: 76px 0 181px 0;
}

.rates {
    padding-top: 321px;
    padding-bottom: 327px;
}

.rates-types {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.rates-type {
    width: 660px;
}

.rates-types h3 {
    display: block;
    padding: 47px 0;
}

.type-free {
    background-color: #e9eef3;
}

.type-free h3,
.free-link {
    background-color: #4b596c;
}

.type-free p {
    color: #6d737b;
}

.type-proffesional {
    background-color: #deebde;
}

.type-proffesional h3,
.proff-link {
    background-color: #58ad52;
}

.type-proffesional p {
    color: #778376;
}

.type-enterprice {
    background-color: #dee9ec;
}

.type-enterprice h3,
.enter-link {
    background-color: #52a1ad;
}

.type-enterprice p {
    color: #6d737b;
}

.rates-type h3,
a {
    font-size: 68px;
    font-weight: 500;
    line-height: 1.25;
    text-align: center;
    color: #fff;
    margin: 0;
}

.rates-type p {
    font-size: 60px;
    line-height: 1.42;
    margin: 0;
    padding-bottom: 190px;
}

.rates-type a {
    display: block;
    margin-top: 148px;
    margin-bottom: 148px;
    padding: 38px 0px;
    text-align: center;
}

.cost {
    font-weight: 900;
    line-height: 1.25;
    margin: 0;
    padding-top: 80px;
    padding-bottom: 204px;
}

.image-best-choice {
    position: absolute;
    left: 1410px;
    top: 435px;
}